.test {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #ffdddd;
  margin: 20px;
  border: 20px solid #ddbbbb;
}
.test:hover {
  background: #ddddff;
}
.Round {
  -webkit-border-radius: 99999px;
  -moz-border-radius: 99999px;
  border-radius: 99999px;
}
.RoundedSquare {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#test1 {
  -webkit-border-radius: 99999px;
  -moz-border-radius: 99999px;
  border-radius: 99999px;
}
#test2 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#test3 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
